#MacroSetting {
    position: absolute;
    height: 226.391px;
    margin-top: 416px;
    width: 272.63px;

}
#MacroSetting #FileName{
    position: absolute;
    background-color: rgb(200, 200, 200);
    color: rgb(29, 29, 29);
    border: 1.4px solid rgb(30, 30, 30);
    line-height: 21px;
    top: 14%;
    left: 3.5%;
    width: 80%;
}
.MacroClassTitle{
    position: absolute;
    height: 4.7vh;
    width: 272.63px;
    margin-top: calc(var(--CustomHeight)*13);
    /* background: red; */
    display: flex;
    align-items: center;
}

#RBtnStyleArea{
    position: absolute;
    left: 0px;
    top: -12%;
    height:24px;
    width: calc(var(--CustomWidth)*14);
    display: flex;
    align-items: center;
}
.RBtnStyle{
    height: 19px;
    width: 19px;
    margin-left: 1vw;
}



[data-name="Macro_UseButton"]
{
    leFt: 225.28px;top: 26.88px;;position: absolute;
    background-repeat: no-repeat;border: none;width: 37.1px;height: 28.8px;font-size: 12.8px;
}

[data-Macro_BottomArea]
{
    position: absolute;margin-left: 302.08px; margin-top: 416px;height: 226.391px;width: 832px;
}


