.ProgramSelectTemplate {
    position: absolute;
    height: 544px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 116px;
    width: 272.63px;
    background-size: 100% 100%;
    background: transparent;

}


.ProgramSelectTemplate ::-webkit-scrollbar-track {
    /* border: 1px solid red;*/
    background-repeat: no-repeat;
}
.ProgramSelectTemplate::-webkit-scrollbar-thumb {
    /* border-radius: 10px; */
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);/* border: 1px solid yellow; */
    background-repeat: no-repeat;
    background-color: rgb(42, 42, 42);
};

.ProgramSelectTemplate::-webkit-scrollbar {
    width: 15px;
}


/* .SelectTemplate::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('/image/ColorSet/UpArrow.png');
    background-repeat: no-repeat;
    background-position: center;
}
.SelectTemplate::-webkit-scrollbar-button:vertical:increment {
    background-image: url('/image/ColorSet/DownArrow.png');
    background-repeat: no-repeat;
    background-position: center;
} */


.ProjectSelect::-webkit-scrollbar-track {

    background-repeat: no-repeat;
}
.ProjectSelect::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);/* border: 1px solid yellow; */
    background-repeat: no-repeat;
    background-color: rgb(42, 42, 42);


}
.ProjectSelect::-webkit-scrollbar {
    width: 15px;
}


/* .ProjectSelect::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('/image/ColorSet/UpArrow.png');
    background-repeat: no-repeat;
    background-position: center;
}
.ProjectSelect::-webkit-scrollbar-button:vertical:increment {
    background-image: url('/image/ColorSet/DownArrow.png');
    background-repeat: no-repeat;
    background-position: center;
}
 */


 #PGSelectTitle{
    position: absolute;
    height: 32.8px;
    width: 271.359px;
    background-color: rgb(29,29,29);
    color: rgb(112,112,112);
    margin-top:24px;
    display: flex;
    align-items: center;
 }