<div  class="LeftArrow" style="
display: flex;
position: absolute;
left: 3%;
width: 1.72vw;
height: 3.1vh;
background-image: url(./image/Share/ModeArrowL.png);
">
</div>
<div  class="RightArrow" style="
width: 22px;
height: 25px;
display: flex;
position: absolute;
right: 3%;
background-image: url(./image/Share/ModeArrowR.png);
">
</div>
<!-- [ngStyle]="{
    width: this.DeviceService.pluginDeviceData.length === 1 ? '100%' : 'none',
    height: this.DeviceService.pluginDeviceData.length === 1 ? '80%' : 'none'
    [style.background-image]="item[i]?'url(./image/FirstPage/KB1Connect.png)':'url(./image/FirstPage/KB1Disconnect.png)' "
}" -->
<div id="DeviceList" style="display: flex;
width: 76%;
align-items: center;
justify-content: space-evenly;
height: 80%;">
    <div class="DeviceItem" *ngFor="let item of this.DeviceService.pluginDeviceData ;let i = index"
        (click)="mainApp.enterAssignDevicePage(item.devicename)">
        <img [src]="mainApp.KeyBoardStyle.getAssignTarget(item.devicename).SelectDeviceBG">
        <!-- <div id="BatteryStep" style="    
        width: 2%;
        display: flex;
        height: 7%;
        margin-left: 2%;
        margin-bottom: 2%;
        align-self: flex-end;
        background-repeat: no-repeat;
        /* background: red; */
               " [style.background-image]="item[i]?ImgPath.BatteryStats[BatteryStep[0]]:'' ">
        </div> -->
    </div>
    <div id="NoDevice" *ngFor="let item of this.DeviceService.getDevicePageindex()" 
    [style.display]="item?'flex':'none'"
    class="DeviceItem" style="background-image: url(./image/Share/NotConnction.png);
    color: white;
    align-items: center;
    justify-content: center;">
    </div>
</div>