/* The container must be positioned relative: */
.sync_AppModePage {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333333;
    color: #aaaaaa
}


.SyncRGBColorBlockStyle{
    position: absolute;
    background-repeat: no-repeat;
    width: 6.3%;
    height: 19%;
    float: left;
    margin-top: 0.3%;
    margin-left: 0.3%;
    padding: 0;
    background-color: #0000;
    box-sizing: border-box;
    border-radius: 16%;
}

.RGBKeyBoardUITransparent{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 7777;
    pointer-events: none;
    background-repeat: no-repeat;


}
.LEDModeSelect{
    line-height: 3vh;
    width: 100%;
    height: 3vh;
    font-size: 1vw;
    font-weight: bold;
    margin-top: 2%;
    border-radius: 2px;
    box-sizing: border-box;
}

.KBUICommon{
    position: absolute;
    left: 3.6%;
    top: 11%;
    height: 287px;
    width: 775px;
    box-sizing: border-box;
    transform: scale(1);
}




#ScrollArea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);/* border: 1px solid yellow; */
    background-repeat: no-repeat;
    background-color: #4C4C4C;


}
#ScrollArea::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
#ScrollArea::-webkit-scrollbar-button:vertical:decrement {
    /* background-image: url('/image/ColorSet/UpArrow.png'); */
    height: 0px;
    background-repeat: no-repeat;
    background-position: center;
}
#ScrollArea::-webkit-scrollbar-button:vertical:increment {
    /* background-image: url('/image/ColorSet/DownArrow.png'); */
    height: 0px;
    background-repeat: no-repeat;
    background-position: center;
}

#ScrollArea::-webkit-scrollbar-button:horizontal:decrement {
    /* background-image: url('/image/ColorSet/UpArrow.png'); */
    width: 0px;
    background-repeat: no-repeat;
    background-position: center;
}
#ScrollArea::-webkit-scrollbar-button:horizontal:increment {
    /* background-image: url('/image/ColorSet/DownArrow.png'); */
    width: 0px;
    background-repeat: no-repeat;
    background-position: center;
}
#ScrollArea::-webkit-scrollbar-corner{
    width: 0px;
}


