
input.KeyAssignUIStyle:focus {
    outline: none !important;
    border: 2px solid #ffc757;
    border-radius: 10px;
}



.RGBKeyBoardUITransparent{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 7777;
    pointer-events: none;
    background-image: url(/image/Share/MK68M.png);
    background-repeat: no-repeat;


}
.Built_inBlock{
    position: absolute;
    z-index: 5555;
    width: 5.5%;
    height: 15%;
    background-color: #000000eb;
    box-sizing: border-box;
    border-radius: 16%;

}
.KeyAssignUIStyle{
    position: absolute;
    z-index: 5555;
    width: 5.5%;
    height: 15%;
    background-color: #000000eb;
    box-sizing: border-box;
    border-radius: 16%;
}
.RGBColorBlockStyle{
    position: absolute;
    z-index: 5555;
    width: 5.5%;
    height: 15%;
    background-color: #000000eb;
    box-sizing: border-box;
    border-radius: 16%;
}
.CustomRGBBlock{
    position: absolute;
    z-index: 5555;
    width: 5.5%;
    height: 15%;
    background-color: #000000eb;
    box-sizing: border-box;
    border-radius: 16%;
}

.KBUICommon{
    position: absolute;
    left: 3.6%;
    top: 11%;
    height: 287px;
    width: 775px;
    box-sizing: border-box;
    transform: scale(1);
}

#EventCanBoxSelectRange{
    position: absolute;
    left: 28%;
    top: 21%;
    height: 320px;
    width: 825px;
    background: rgba(255, 255, 255, 0);
}