/*#region Select*/
.SelectTemplate {
    position: absolute;
    height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 14.5vh;
    width: 21.3vw;
    background-size: 100% 100%;

}


.SelectTemplate ::-webkit-scrollbar-track {
    /* border: 1px solid red;*/
    background-repeat: no-repeat;
}
.SelectTemplate::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);/* border: 1px solid yellow; */
    background-repeat: no-repeat;
    background-color: #4C4C4C;


}
.SelectTemplate::-webkit-scrollbar {
    width: 15px;
}
.SelectTemplate::-webkit-scrollbar-button:vertical:decrement {
    background-image: url('/image/ColorSet/UpArrow.png');
    background-repeat: no-repeat;
    background-position: center;
}
.SelectTemplate::-webkit-scrollbar-button:vertical:increment {
    background-image: url('/image/ColorSet/DownArrow.png');

    background-repeat: no-repeat;
    background-position: center;
}

#backHome{
    position: absolute;
    height: 58px;
    width: 67px;
    margin-left: 5vw;
    margin-top: 2.1vh;
    background-image: url('/image/Share/Off/BackToFisrtPage.png');
}
#backHome:hover{
    background-image: url('/image/Share/On/BackToFisrtPage.png');
}
/*#endregion Select*/

/*#region ColorPicker*/
.PickingArea {
	/* background: url('https://mdn.mozillademos.org/files/5707/picker_mask_200.png') center center;
	 background: -moz-linear-gradient(bottom, #000 0%, rgba(0, 0, 0, 0) 100%),
	 			-moz-linear-gradient(left, #FFF 0%, rgba(255, 255, 255, 0) 100%);
     background:-webkit-linear-gradient(top, #000 0%, #fff0 100%),-webkit-linear-gradient(right, #fff0 0%, #fff 100%);
    background:-webkit-linear-gradient(top, #fff 0%, #fff0 50%, #0000 50%, #000 100%), -webkit-linear-gradient(left, #808080 0%, #80808000 100%);
    background-color: #F00; */
    background: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%), linear-gradient(to right, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
}
input[type="range"]#ColorSliderH:focus {
    outline: none;
}
input[type="range"]#ColorSliderH::-webkit-slider-thumb {
    height: 1.6vw;
    width: 4%;
    background-repeat: no-repeat;
    background-image: url(/image/skin/colorBarH_ico.png);
    -webkit-appearance: none;
    background-size: 100% 100%;
}

input[type="range"]#ColorSliderS::-webkit-slider-thumb {
    height: 10px;
    width: 5px;
    background-repeat:no-repeat;
    background-image:url('/image/skin/colorBarH_ico.png');
}
input[type="range"]#ColorSliderV::-webkit-slider-thumb {
    height: 10px;
    width: 5px;
    background-repeat:no-repeat;
    background-image:url('/image/skin/colorBarH_ico.png');

}
#ColorSliderH{

    position: absolute;
    top: 23%;
    left: 39%;
    width: 9.5VW;
    height: 1.1vw;
    background-color: #0000;
    transform: rotate(-90deg);
    background-image: url(/image/skin/colorBarH.png);
    -webkit-appearance: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#ColorSliderH.CustomH2{
    position: absolute;
    top: 90%;
    left: 0%;
    width: 14.9VW;
    height: 1.2vw;
    background-color: #0000;
    transform: rotate(0deg);
    background-image: url(/image/skin/colorBarH.png);
    -webkit-appearance: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#ColorSliderS{
    position:absolute ;
    top: 14%;
    left: 54%;
    width: 41%;
    height: 10%;
    /* background: -webkit-linear-gradient(left,#ffffff,black); */
}
#ColorSliderV{
    position: absolute;
    top: 26%;
    left: 54%;
    width: 41%;
    height: 10%;
    /* background: -webkit-linear-gradient(left,#ffffff,black); */
}
.colorBase{
    width: 1.2vw;
    border-radius: 10px;
    height: 1.2vw;
    border: 1px #2e2f2e solid;
}
.colorBaseList{
    width: 14vw;
    height: 6vh;
    position: absolute;
    z-index: 9999;
    display: flex;
    bottom: 7%;
    flex-direction: row;
    /* background: #95fd6c; */
    flex-wrap: wrap;
}

.AdvancedColorBase{
    float: left;
    background-color: #c7cc33;
    width: 1.8vw;
    height: 1.8vw;
    border: 1px solid #2e2f2e;
    margin-bottom: 3px;
    margin-left: 3px;
    border-radius: 13px;
}


.circle {
    width: 1vh;
    height: 1vh;
    background: transparent;
    position: absolute;
    pointer-events: none;
    border: 1px solid blue;
    border-radius: 50%;

}
/*#endregion ColorPicker*/



#LedAdjustable {
    overflow-y: scroll;
    height: 80%;
    width: 35%;
}

#LedAdjustable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #4C4C4C;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

#LedAdjustable::-webkit-scrollbar {
    width: 15px;      
}

.InputObjectBlock {
height: 21px;
width: 261px;
margin-top: 2%;
display: FLEX;
align-items: center;
}


#CRUD{
        z-index: 9991;
        position: absolute;
        left: 26.4vw;
        width: 1.6vw;
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-repeat: repeat;
        background-size: 100% 100%;
        height: auto;        
        /* background: red; */
}
#CRUD .ItemClass{
    width: 12px;
    height: 12px;
    background-repeat: repeat;
    margin-top: 1vh;
    /* background: red; */
}

.InputObjectBlock .ClassName{

    width: 31%;
    /* float: left; */
    margin-left: 6%;
}

.LedInputTxtStyle{
    width: 18%;
    height: 100%;
    padding: 0;
    text-align: center;
    color: white;
    background-color: #000;
    box-sizing: border-box;
    border: 1px #0000 solid;
}
input[type="range"].LedOptionInputRange {
    -webkit-appearance: none;
    background: -webkit-linear-gradient(#2e9cfb, #2e9cfb) no-repeat, #4C4C4C;
    background-size: 0 100%;
    width: 42.5%;
    height: 23%;
    border-radius: 15px;
    margin-left: 10px;
}
/* 去除获取焦点时的边框 */
input[type="range"].LedOptionInputRange:focus {
    outline: none;
}

/* chrome自定义滑动轨道 */
input[type="range"].LedOptionInputRange::-webkit-slider-runnable-track {
    height: 250%;
}

/* chrome自定义滑块 */
input[type="range"].LedOptionInputRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 9%;
    height: 100%;
    background: #808080;
    border-radius: 50%;
}

.dragableArea{
    position: absolute;
    height: 51px;
    width: 72%; 
    margin-left: 10vw;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    -webkit-app-region: drag;
    background-color: #f00;
}
.color_quantity{
    position: absolute;
    top: 59%;
    left: 23%;
    width: 11%;
    height: 11%;
    padding: 0;
    box-sizing: border-box;
    border: 1px #0000 solid;
    text-align: center;
    background-color: #000;
    color: #fff;


}



.NowSelected{
    width: 100%;
    height: auto;
    z-index: 9999;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.Selected_item{
    width: 100%;
    display: flex;height: 56px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;justify-content: center;
}

.ItemList{
    width: 100%;
    height: auto;
    z-index: 9999;
    display: flex;
    justify-content: center;
    box-shadow: rgb(22, 22, 22) 3px 3px 10px;
    flex-direction: column;
    background: #E0DFD6;
    align-items: center;
}
.BottomArea{
    position: absolute;
    margin-left: 30%;
    margin-top: 54vh;
    height: 27.9vh;
    width: 63.7vw;
    background-size: 100% 100%;
}


.mainStyleBackround{
    background: #333333;
}

.mainStyleColor{
    color: #ACC394;
}

body{
    color: #ACC394;
}
/* input[type="radio"] {
    color: #ACC394;
} */
input {
    color: #ACC394;
    background: #333333;
}
